<div id='phantom-header' style='text-align: center'>
	<%= image_tag('phantomheader.png') %>
</div>
<br />
<br />
<br />
<div id='description'>
	<p>Super Phantom of the Opera is a 2D side-scrolling platform shooter inspired by classics like Metroid, Castlevania, and Super Mario. Super Phantom follows our hero Raoul on his quest to rescue Christine from the clutches of the Phantom.
	</p>
	<div id='description-list' class='center' style='width: 32%'>
		<ul>
			<li>5 Thrilling Levels with Unique Gameplay Mechanics!</li>
			<li>Steampunk-Inspired Gothic Art Style!</li>
			<li>Classic Pixel Art Graphics and Sounds!</li>
			<li>Classic 2D Platforming!</li>
			<li>High Scores and Steam Achievements!</li>
			<li>Reveal the Phantom's True Face!</li>
		</ul>
	</div>
</div>
<div id='image-form'>
	<table>
		<tr>
			<td>
				
			</td>
			<td>
				
			</td>
		</tr>
	</table>
</div>